services:
    cms:
        container_name: cms
        build:
            context: .
            dockerfile: apps/cms/Dockerfile.prod
        image: strapi:latest
        restart: unless-stopped
        environment:
            NODE_ENV: production
            PORT: 1337
            APP_KEYS: ${APP_KEYS}
            API_TOKEN_SALT: ${API_TOKEN_SALT}
            ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
            TRANSFER_TOKEN_SALT: ${TRANSFER_TOKEN_SALT}
            ENCRYPTION_KEY: ${ENCRYPTION_KEY}
            DATABASE_CLIENT: ${DATABASE_CLIENT}
            DATABASE_HOST: ${DATABASE_HOST}
            DATABASE_PORT: ${DATABASE_PORT}
            DATABASE_NAME: ${DATABASE_NAME}
            DATABASE_USERNAME: ${DATABASE_USERNAME}
            DATABASE_PASSWORD: ${DATABASE_PASSWORD}
            DATABASE_SSL: false
            DATABASE_URL: ${DATABASE_URL}
            POSTGRES_USER: ${DATABASE_USERNAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
            POSTGRES_DB: ${DATABASE_NAME}
            JWT_SECRET: ${JWT_SECRET}

        volumes:
            - ./apps/cms/config:/usr/src/app/apps/cms/config
            - ./apps/cms/src:/usr/src/app/apps/cms/src
            - ./apps/cms/types:/usr/src/app/apps/cms/types
            - ./package.json:/usr/src/app/package.json
            - ./yarn.lock:/usr/src/app/yarn.lock
            - ./apps/cms/favicon.png:/usr/src/app/apps/cms/favicon.png
            - ./apps/cms/public/uploads:/usr/src/app/apps/cms/public/uploads
        ports:
            - "1337:1337"
        networks:
            - strapi
        depends_on:
            - strapiDB

    strapiDB:
        container_name: strapiDB
        platform: linux/amd64 #for platform error on Apple M1 chips
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${DATABASE_USERNAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
            POSTGRES_DB: ${DATABASE_NAME}
        image: postgres:16.0-alpine
        volumes:
            - strapi-data:/var/lib/postgresql/data/ #using a volume
            #- ./data:/var/lib/postgresql/data/ # if you want to use a bind folder

        ports:
            - "5433:5432"
        networks:
            - strapi
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 30s
            timeout: 10s
            retries: 3

volumes:
    strapi-data:

networks:
    strapi:
        name: strapi
        driver: bridge
