services:
    cms:
        container_name: cms
        build:
            context: .
            dockerfile: apps/cms/Dockerfile
        image: strapi:latest
        restart: unless-stopped
        env_file: apps/cms/.env
        volumes:
            - ./apps/cms/config:/usr/src/app/apps/cms/config
            - ./apps/cms/src:/usr/src/app/apps/cms/src
            - ./package.json:/usr/src/app/package.json
            - ./yarn.lock:/usr/src/app/yarn.lock
            - ./apps/cms/.env:/usr/src/app/apps/cms/.env
            - ./apps/cms/public/uploads:/usr/src/app/apps/cms/public/uploads
        ports:
            - "1337:1337"
        networks:
            - strapi
        depends_on:
            - strapiDB

    strapiDB:
        container_name: strapiDB
        platform: linux/amd64 #for platform error on Apple M1 chips
        restart: unless-stopped
        env_file: apps/cms/.env
        image: postgres:16.0-alpine
        volumes:
            - strapi-data:/var/lib/postgresql/data/ #using a volume
            #- ./data:/var/lib/postgresql/data/ # if you want to use a bind folder

        ports:
            - "5433:5432"
        networks:
            - strapi
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 30s
            timeout: 10s
            retries: 3

volumes:
    strapi-data:

networks:
    strapi:
        name: strapi
        driver: bridge
